{{ partial "header.html" . }}

<!-- {{ $products := getJSON "/data/products.json" }} -->
<main class="products">
  <img src="/images/icons/cheese-background.svg" alt="" class="background-image">
  <div class="promotional-message">
    <h3>REDISCOVER</h3>
    <h2>Cheese</h2>
    <p>An exclusive <strong>collection of handcrafted cheese</strong> for the hardcore cheese enthusiasts.</p>
  </div>
  {{ range where .Site.RegularPages "Section" "products"}}
    {{ partial "product.html" .Params }}
  {{ end }}
</main>

{{ partial "footer.html" . }}